<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:instagram="http://typo3.org/ns/In2code/Instagram/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="c-socialwall">
	<f:for each="{feed.channel.item}" as="item">
		<div class="c-socialwall__item c-socialwall__item--instagram">
			<f:link.external uri="{item.link}" title="{feed.channel.title}" target="_blank" rel="noopener">

				<instagram:isLocalImageExisting item="{item}">
					<f:then>
						<f:image src="/typo3temp/assets/tx_instagram/{item.guid}.jpg" alt="{item.title}" title="{item.title}" width="500c" height="500c" />
					</f:then>
					<f:else>
						<img src="{item.imageurl}" alt="{item.title}" title="{item.title}" width="500" height="500" />
					</f:else>
				</instagram:isLocalImageExisting>

				<p>{image.node.edge_media_to_caption.edges.0.node.text}</p>
			</f:link.external>
		</div>
	</f:for>
</div>

</html>
