services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  In2code\Instagram\Command\ImportFeedCommand:
    tags:
      - name: 'console.command'
        command: 'instagram:importfeed'
        schedulable: true

  In2code\Instagram\Command\RefreshTokenCommand:
    tags:
      - name: 'console.command'
        command: 'instagram:refreshtoken'
        schedulable: true

  In2code\Instagram\Command\RemoveTokensCommand:
    tags:
      - name: 'console.command'
        command: 'instagram:removetokens'
        schedulable: true
